
/* splash */
.splash{
  background: rgba(0,0,0,.8);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.splash>div{
  position:fixed;
  text-align: center;
  top: 50%;
  left: 50%;
}
.splash>div>p{
  padding: 1em 0;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.1);
  border-right: 1.1em solid rgba(255, 255, 255, 0.1);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.1);
  border-left: 1.1em solid darkorange;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}