video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: black; }

.navbar {
  margin-bottom: 0; }

.logo-image {
  height: 20px; }

.tab-pane {
  padding-top: 15px;
  padding-bottom: 15px; }

.chart {
  text-align: center; }

canvas {
  max-width: 800px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto; }

.user-actions {
  text-align: center; }
  .user-actions .actions-count {
    font-size: 13.5vw; }
    .user-actions .actions-count#applications-count {
      color: rgba(200, 200, 200, 0.9); }
    .user-actions .actions-count#partners-count {
      color: rgba(239, 146, 31, 0.9); }
    .user-actions .actions-count#no-action {
      color: rgba(127, 191, 63, 0.9); }
    .user-actions .actions-count:nth-child(2)::before {
      content: "/";
      color: #fff; }
